* {
    box-sizing: border-box;
}

body {
    width:100%;
    margin:0;
}

.block {
    margin:auto;
    min-width:50vw;
    max-width:100%;
    width:100vh;
}

.board {
    width:100%;
    
}

.scene {
    text-align:center;
}


.bag {
    display:flex;
    justify-content:center;
}

h2, h3 {
    text-align:center;
}


.bag .stuff {
    border:1px dashed lightgray;
    padding:1em;
    width:10em;
    height:4em;
    text-align:center;
}

.bag .stuff .title {
    text-align:center;
}