* {
    box-sizing: border-box;
}

body {
    width:100%;
    margin:0;
}

.block {
    margin:auto;
    min-width:50vw;
    max-width:100%;
    width:100vh;
}

.board {
    width:100%;
    padding:1em;
}

.gamedesc .description {
    text-align:center;
}

h2, h3 {
    text-align:center;
}

.block {
    margin-top:1em;
}

.flex {
    display: flex;
    justify-content: center;
    border-top:1px dashed lightgray;
    margin: 1em;
}

.flex > * {
    border: 1px solid lightgray;
    margin:1em;
    padding:1em 2em;
}

.field td:first-child {
    text-align: right;
}

.characters .list {
    margin-top: 2em;
}

