* {
    box-sizing: border-box;
}

body {
    width:100%;
    margin:0;
}

.block {
    margin:auto;
    min-width:50vw;
    max-width:100%;
    width:100vh;
    border:1px solid black;
}

.board {
    width:100%;
    
}

.scene {
    text-align:center;
}

.bag {
    background-color: lightgray;
}